*,
*:after,
*:before {
    box-sizing: content-box;
}

html {
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main section {
    display: flex;
    gap: 32px;
}

h2 {
    font-weight: 500;
    margin: 0;
    min-width: 300px;
    width: 300px;
}

.chord {
    display: flex;
    flex-direction: column;
}

.fretboard {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: grid;
}

.fretboard--2frets {
    grid-template-columns: repeat(2, 1fr);
}

.fretboard--3frets {
    grid-template-columns: repeat(3, 1fr);
}

.fretboard--4frets {
    grid-template-columns: repeat(4, 1fr);
}

.fretboard--5frets {
    grid-template-columns: repeat(5, 1fr);
}

.fretboard--6frets {
    grid-template-columns: repeat(6, 1fr);
}

.fret {
    align-items: center;
    display: flex;
    height: 22px;
    justify-content: center;
    position: relative;
    width: 32px;
}

.fret:before {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 4px);
}

.fret:after {
    background-color: black;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    z-index: 1;
}

.fret span {
    align-items: center;
    background-color: #E0E0E0;
    border-radius: 8px;
    color: black;
    content: attr(data-fretted);
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: center;
    line-height: 12px;
    margin: 2px;
    width: 24px;
    z-index: 2;
}

.fret span.note--root {
    background-color: #424242;
    color: white;
}

.fret span.note--minor3rd {
    background-color: #26A69A;
    color: white;
}

.fret span.note--major3rd {
    background-color: #00695C;
    color: white;
}

.fret span.note--perfect5th {
    background-color: #9E9E9E;
    color: white;
}

.fret span.note--minor7th {
    background-color: #7E57C2;
    color: white;
}

.fret span.note--major7th {
    background-color: #4527A0;
    color: white;
}

.description {
    font-size: 12px;
    text-align: center;
}
